{% extends 'frontend/base.html' %}
{% load static %}
{% load humanize %}

    {% block content %}

      <div class="container py-5">
        {% include 'frontend/pages/partials/_messages.html' %}

        <div class="jumbotron">
          <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
          <p><strong>Email:</strong> {{request.user.email}}</p>
          <p><strong>Username:</strong> {{request.user.username}}</p>
          <p>
            <a class="btn btn-outline-primary btn-large" href="{% url 'customer:categories' %}">Continue Shoping » </a>
          </p>
        </div>


        <div class="row">

          <div class="col-lg-6">
            <div class="card mb-4" id="tables">
              <div class="card-header">Wishlist</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if wishlist %}
                      {% for order in orders %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{order.product.title}}</td>
                          <td>
                            {{order.status}}
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-danger" colspan="3">You've no Wishlist yet.</td>
                    </tr>
                    {% endif %}


                  </tbody>
                </table>
                
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card mb-4" id="tables">
              <div class="card-header">Orders</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Purchased Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if orders %}
                      {% for order in orders %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{order.medicine.title}}</td>
                          <td>{{order.quantity}}</td>
                          <td>{{order.ordered_date|naturaltime}}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-danger" colspan="3">You've not Ordered anything yet.</td>
                    </tr>
                    {% endif %}
                    
                    
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
      </div>
{% endblock content %}